Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.html": ["prettier --write", "eslint --fix", "stylelint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.md": "prettier --write",
  "*.json": "prettier --write"
}

v2.3.0: updated comments
  package/src/index.html
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: update
  .plasttic/js/src/assets/js/modules/module.js
  .plasttic/js/src/assets/js/scripts.js
  .plasttic/js/tests/playwright/test/test.spec.js
  .plasttic/js/ts-no.js
Due: prettier --write, eslint --fix

v2.3.0: update
  CHANGELOG.md
  README.md
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.3.0: update
  docs/performance.md
Due: prettier --write

v2.3.0: updated
  CHANGELOG.md
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.3.0: unlighthouse
  .gitignore
  package.json
  package/package.json
Due: prettier --write

v2.3.0: unlighthouse
  CHANGELOG.md
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.3.0: update
  lighthouse.flags.json
  package.json
  package/lighthouse.flags.json
  package/package.json
  package/src/robots.txt
  src/robots.txt
Due: prettier --write

v2.3.0: update
  lighthouse.flags.json
  package.json
  package/lighthouse.flags.json
  package/package.json
  package/src/robots.txt
  package/src/sitemap.xml
  package/unlighthouse.config.ts
  src/robots.txt
  src/sitemap.xml
  unlighthouse.config.ts
Due: prettier --write, eslint --fix

v2.3.0: unlighthouse
  package/src/index.html
  package/unlighthouse.config.ts
  src/index.html
  unlighthouse.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: config update
  package/unlighthouse.config.ts
  unlighthouse.config.ts
Due: prettier --write, eslint --fix

v2.3.0: updates
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: update
  package/src/index.html
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: partytown libs script
  .husky/pre-commit
  package.json
  package/.husky/pre-commit
  package/package.json
  src/~partytown/debug/partytown-atomics.js
  src/~partytown/debug/partytown-media.js
  src/~partytown/debug/partytown-sandbox-sw.js
  src/~partytown/debug/partytown-sw.js
  src/~partytown/debug/partytown-ww-atomics.js
  src/~partytown/debug/partytown-ww-sw.js
  src/~partytown/debug/partytown.js
  src/~partytown/partytown-atomics.js
  src/~partytown/partytown-media.js
  src/~partytown/partytown-sw.js
  src/~partytown/partytown.js
Due: prettier --write, eslint --fix

v2.3.0: unlighthouse
  package.json
  package/package.json
  package/src/~partytown/debug/partytown-atomics.js
  package/src/~partytown/debug/partytown-media.js
  package/src/~partytown/debug/partytown-sandbox-sw.js
  package/src/~partytown/debug/partytown-sw.js
  package/src/~partytown/debug/partytown-ww-atomics.js
  package/src/~partytown/debug/partytown-ww-sw.js
  package/src/~partytown/debug/partytown.js
  package/src/~partytown/partytown-atomics.js
  package/src/~partytown/partytown-media.js
  package/src/~partytown/partytown-sw.js
  package/src/~partytown/partytown.js
Due: prettier --write, eslint --fix

v2.3.0: updates
  CHANGELOG.md
  package/CHANGELOG.md
  package/src/assets/css/00_reset.css
  package/src/assets/img/social/social-banner-1200_627.png
  package/src/assets/img/social/social-banner-1200_630.png
  package/src/index.html
  package/src/social-banner-1200_630.png
  src/assets/css/00_reset.css
  src/assets/img/social/social-banner-1200_627.png
  src/assets/img/social/social-banner-1200_630.png
  src/index.html
  src/social-banner-1200_630.png
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: update
  .vscode/plasttic.code-snippets
  CHANGELOG.md
  README.md
  package/.vscode/plasttic.code-snippets
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: typescript 5.1.3
  package-lock.json
  package.json
  package/package.json
Due: prettier --write

v2.3.0: typescript update
  package-lock.json
  package.json
  package/package.json
Due: prettier --write

v2.3.0: update
  README.md
Due: prettier --write

v2.3.0: update Linting section
  README.md
Due: prettier --write

v2.3.0: update linting section
  README.md
Due: prettier --write

v2.3.0: update testing section
  README.md
Due: prettier --write

v2.3.0: added .vscode
  package/.##gitignore##
Due: none

v2.3.0: updated .##gitignore##
  CHANGELOG.md
  package/.##gitignore##
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: extensions update
  .vscode/extensions.json
  package/.vscode/extensions.json
Due: prettier --write

v2.3.0: version update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v1.3.1: updated Plasttic HTML Boilerplate
  .vscode/extensions.json
  .vscode/plasttic.code-snippets
  CHANGELOG.md
  package/.vscode/extensions.json
  package/.vscode/plasttic.code-snippets
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: added tsx extension
  .eslintrc.cjs
  package/.eslintrc.cjs
Due: none

v2.3.0: eslint config update
  .eslintrc.cjs
  package-lock.json
  package.json
  package/.eslintrc.cjs
  package/package.json
Due: prettier --write

v2.3.0: eslint config update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: boilerplate snippet update
  .vscode/plasttic.code-snippets
  CHANGELOG.md
  package/.vscode/plasttic.code-snippets
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.3.0: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: update
  .vscode/plasttic.code-snippets
  README.md
  package/.vscode/plasttic.code-snippets
  package/src/index.html
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: prettier tabWidth
  .eslintrc.cjs
  package/.eslintrc.cjs
Due: none

v2.3.0: update robots.txt
  CHANGELOG.md
  package/CHANGELOG.md
  package/src/robots.txt
  src/robots.txt
Due: prettier --write
