Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

upd!: added ignore lock files
  .gitignore
Due: none

upd: package folder rebuilt
  package/.stylelintrc.json
  package/.vscode/extensions.json
  package/.vscode/vscode.settings.json
  package/README.md
  package/package.json
  package/src/assets/css/00_reset.css
  package/src/assets/css/30_tokens.css
  package/src/assets/js/modules/module.ts
  package/src/index.html
  package/src/~partytown/debug/partytown-atomics.js
  package/src/~partytown/debug/partytown-media.js
  package/src/~partytown/debug/partytown-sandbox-sw.js
  package/src/~partytown/debug/partytown-sw.js
  package/src/~partytown/debug/partytown-ww-atomics.js
  package/src/~partytown/debug/partytown-ww-sw.js
  package/src/~partytown/debug/partytown.js
  package/src/~partytown/partytown-atomics.js
  package/src/~partytown/partytown-media.js
  package/src/~partytown/partytown-sw.js
  package/src/~partytown/partytown.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

upd!: package:commit script updated
  package.json
  package/package.json
Due: prettier --write

upd(deps)!: renovate config
  .github/renovate.json5
Due: none

test: dependabot renovate
  .github/_dependabot.yml
Due: none

upd(deps)!: updated github.actor to renovate[bot]
  .github/workflows/plasttic-ci.yml
Due: none

upd(deps)!: removed dependabot
  .github/_dependabot.yml
Due: none

upd(deps)!: removed dependabot
  .github/dependabot.yml
Due: none

upd(deps)!: renovate minimumReleaseAge 3 days
  .github/renovate.json5
Due: none

upd!: allow pnpm-lock.yaml
  .gitignore
Due: none

upd: engine update to node >= 20.0.0
  package.json
Due: prettier --write

upd!: ignore renovate branches
  .github/workflows/plasttic-ci.yml
Due: none

upd(deps): dependabot github actions update
  .github/dependabot.yml
Due: none

upd(CI): ignore renovate branches
  .github/workflows/plasttic-ci.yml
Due: none

upd!: eslint config file update
  eslint.config.cjs
Due: none

upd(deps): dependabot github actions
  .github/dependabot.yml
Due: none

upd(CI)!: ignore renovate branches
  .github/workflows/plasttic-ci.yml
Due: none

upd!: eslint config file rename
  .eslintrc.cjs
Due: none

upd!: ignore renovate and dependabot branches
  .github/workflows/plasttic-ci.yml
Due: none

upd(CI)!: ignore renovate and dependabot branches
  CHANGELOG.md
Due: prettier --write

upd!: Eslint config migration to v9
  CHANGELOG.md
Due: prettier --write

upd(deps)!: renovate test
  .github/renovate.json5
Due: none

upd!: eslint config migration to v9
  .eslintignore
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write

upd(eslint): eslint fixed version 8.57.0
  .eslint.config.v9.js
  .eslintignore
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

upd(eslint)!: eslint fixed version 8.57.0
  CHANGELOG.md
Due: prettier --write

upd(deps)!: dependabot github-actions in main branch
  CHANGELOG.md
Due: prettier --write

upd(eslint)!: removed eslint v9 config file
  .eslint.config.v9.js
Due: eslint --fix

upd!: ignore renovate/dependabot branches
  .github/workflows/plasttic-ci.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: (((any of: *.css) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
  stylelint --fix: any of: *.css
