Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

v2.3.0: update about
  README.md
  package/package.json
Due: prettier --write

v2.3.0: security fixes
  package-lock.json
Due: prettier --write

v2.3.0: security issues fix
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: update
  README.md
Due: prettier --write

v2.3.0: update del-cli + dependencies
  CHANGELOG.md
  package-lock.json
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.3.0: eslint jest/playwright
  .eslintrc.cjs
  package/.eslintrc.cjs
Due: none

v2.3.0: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: css imports
  .dev.configs/postcss.config.cjs
  CHANGELOG.md
  package-lock.json
  package.json
  package/CHANGELOG.md
  package/package.json
  package/postcss.config.cjs
  package/src/assets/css/10_utility.css
  package/src/assets/css/20_components.css
  package/src/assets/css/30_tokens.css
  package/src/assets/css/40_atoms.css
  package/src/assets/css/50_molecules.css
  package/src/assets/css/60_organisms.css
  package/src/assets/css/70_templates.css
  package/src/assets/css/80_pages.css
  package/src/assets/css/styles.css
  postcss.config.cjs
  src/assets/css/10_utility.css
  src/assets/css/20_components.css
  src/assets/css/30_tokens.css
  src/assets/css/40_atoms.css
  src/assets/css/50_molecules.css
  src/assets/css/60_organisms.css
  src/assets/css/70_templates.css
  src/assets/css/80_pages.css
  src/assets/css/styles.css
Due: prettier --write, stylelint --fix

v2.3.0: dev.configs error fix
  CHANGELOG.md
  package.json
  package/.dev.configs/postcss.config.cjs
  package/.dev.configs/uglifyjs-dev.config.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.3.0: update
  .eslintrc.cjs
  CHANGELOG.md
  package-lock.json
  package.json
  package/.eslintrc.cjs
  package/CHANGELOG.md
  package/package.json
  package/src/index.html
  package/src/templates/404.html
  package/src/templates/temporary.html
  src/index.html
  src/templates/404.html
  src/templates/temporary.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: ESLint config update
  .eslintrc.cjs
  package-lock.json
  package.json
  package/.eslintrc.cjs
  package/package.json
Due: prettier --write

v2.3.0: extensions update
  .vscode/extensions.json
  package/.vscode/extensions.json
Due: prettier --write

v2.3.0: logical properties
  package/src/assets/css/20_components.css
  src/assets/css/20_components.css
Due: prettier --write, stylelint --fix

v2.3.0: logical properties
  package/src/assets/css/40_atoms.css
  package/src/assets/css/70_templates.css
  package/src/assets/css/80_pages.css
  src/assets/css/40_atoms.css
  src/assets/css/70_templates.css
  src/assets/css/80_pages.css
Due: prettier --write, stylelint --fix

v2.3.0: update
  CHANGELOG.md
  README.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: ESlint Jest/Playwright
  .eslintrc.cjs
  package-lock.json
  package.json
  package/.eslintrc.cjs
  package/package.json
Due: prettier --write

v2.3.0: ESlint Jest/Playwright
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: sitemap update
  CHANGELOG.md
  package/CHANGELOG.md
  package/src/sitemap.xml
  src/sitemap.xml
Due: prettier --write

2.3.0: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: logical properties
  CHANGELOG.md
  package/CHANGELOG.md
  package/src/assets/css/print.css
  src/assets/css/print.css
Due: prettier --write, stylelint --fix

v2.3.0: extensions settings
  .vscode/vscode.settings.json
  CHANGELOG.md
  package/.vscode/vscode.settings.json
  package/CHANGELOG.md
Due: prettier --write

v3.0.0: version update
  CHANGELOG.md
  package.json
  package/CHANGELOG.md
  package/package.json
  package/src/assets/css/80_pages.css
  src/assets/css/80_pages.css
Due: prettier --write, stylelint --fix

v3.0.0: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v3.0.0: native css nesting
  CHANGELOG.md
  package-lock.json
  package.json
  package/CHANGELOG.md
  package/package.json
  package/postcss.config.cjs
  postcss.config.cjs
Due: prettier --write

v3.0: breaking changes
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v3.0: native css nesting
  package/src/assets/css/70_templates.css
  package/src/assets/css/80_pages.css
  src/assets/css/70_templates.css
  src/assets/css/80_pages.css
Due: prettier --write, stylelint --fix

v3.0: css nesting
  .dev.configs/postcss.config.cjs
  package/.dev.configs/postcss.config.cjs
  package/postcss.config.cjs
  postcss.config.cjs
Due: none

v3.0: visually-hidden class
  CHANGELOG.md
  package/CHANGELOG.md
  package/src/assets/css/10_utility.css
  src/assets/css/10_utility.css
Due: prettier --write, stylelint --fix

v3.0: replace dependabot with renovate
  .github/dependabot.yml
  .github/workflows/dependabot-merge.yml
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v3.0: renovate config
  .github/renovate.json
  package/renovate.json
Due: prettier --write

v3.0: dependencies update
  package-lock.json
Due: prettier --write

v3.0: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v3.0.0: package update
  package/.github/dependabot.yml
  package/.github/renovate.json
  package/.github/workflows/dependabot-merge.yml
Due: prettier --write

v3.0: renovate config update
  .github/renovate.json
Due: prettier --write

v3.0: renovate config update
  .github/renovate.json
  package/renovate.json
  renovate.json
Due: prettier --write

v3.0: package update
  package/.github/renovate.json
Due: prettier --write

v3.0.0: update
  CHANGELOG.md
  README.md
  package/CHANGELOG.md
Due: prettier --write

v3.0.0: dev script performance
  CHANGELOG.md
  README.md
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v3.0.0: linting optimization
  .lintstagedrc.json
  package/.lintstagedrc.json
Due: prettier --write

Path conditions:
  prettier --write: (((((any of: *.ts) or (any of: *.js)) or (any of: *.html)) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)
  eslint --fix: ((any of: *.ts) or (any of: *.js)) or (any of: *.html)
  stylelint --fix: (any of: *.html) or (any of: *.css)
