Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.js": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.html": "prettier --write",
  "*.md": "prettier --write",
  "*.json": "prettier --write"
}

v3.0.0: ci workflow update/#196
  .github/workflows/plasttic-ci.yml
  package/.github/workflows/plasttic-ci.yml
Due: none

Update package.json
  package.json
Due: prettier --write

v3.0.0: ci workflow update/#196
  .github/workflows/plasttic-ci.yml
Due: none

upd: ci workflow/#196 (#749)
  .github/workflows/plasttic-ci.yml
  .husky/pre-commit
  CHANGELOG.md
  README.md
  jest.ci.config.ts
  package/.github/renovate.json
  package/.github/workflows/plasttic-ci.yml
  package/.husky/pre-commit
  package/CHANGELOG.md
  package/jest.ci.config.ts
  package/package.json
  package/tests/jest/build/_build.txt
  package/tests/jest/ci/_ci.txt
  package/tests/playwright/build/_build.txt
  package/tests/playwright/ci/_ci.txt
  tests/jest/build/_build.txt
  tests/jest/ci/_ci.txt
  tests/playwright/build/_build.txt
  tests/playwright/ci/_ci.txt
Due: eslint --fix, prettier --write

v3.0.0: ci workflow update/#196
  package/.github/workflows/plasttic-ci.yml
Due: none

upd: ci workflow/#196 (#750)
  package/.github/workflows/plasttic-ci.yml
Due: none

Update from Develop (#751)
  .github/workflows/plasttic-ci.yml
  .husky/pre-commit
  CHANGELOG.md
  README.md
  jest.ci.config.ts
  package.json
  package/.##gitignore##
  package/.github/renovate.json
  package/.github/workflows/plasttic-ci.yml
  package/.husky/pre-commit
  package/CHANGELOG.md
  package/jest.ci.config.ts
  package/package.json
  package/tests/jest/build/_build.txt
  package/tests/jest/ci/_ci.txt
  package/tests/playwright/build/_build.txt
  package/tests/playwright/ci/_ci.txt
  pnpm-lock.yaml
  tests/jest/build/_build.txt
  tests/jest/ci/_ci.txt
  tests/playwright/build/_build.txt
  tests/playwright/ci/_ci.txt
Due: eslint --fix, prettier --write

v3.0.0: update CI workflow
  .github/workflows/plasttic-ci.yml
  package/.github/workflows/plasttic-ci.yml
Due: none

v3.0.0: renovate config/#693
  .github/renovate.json
Due: prettier --write

v3.0.0: package dependencies and README/#746
  package.json
  package/README.md
  package/package.json
Due: prettier --write

v3.0.0: renovate configs/#693
  .github/renovate.json
  package/.github/renovate.json
Due: prettier --write

Update renovate.json
  .github/renovate.json
Due: prettier --write

move from pnpm to npm
  pnpm-lock.yaml
Due: none
