Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.js": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.html": "prettier --write",
  "*.md": "prettier --write",
  "*.json": "prettier --write"
}

v3.0.0: updates/#779
  .github/workflows/plasttic-ci (Gonçalo Tojeiro's conflicted copy 2024-02-07).yml
Due: none

v3.0.0: index.html boilerplate
  src/index.html
Due: prettier --write

v3.0.0: husky add all
  .husky/pre-commit
Due: none

Delete .github/FUNDING.yml
  .github/FUNDING.yml
Due: none

v3.0.0: delete sponsoring file
  .github/FUNDING.yml
Due: none

v3.0.0: forcing https disabled
  CHANGELOG.md
  src/.htaccess
Due: prettier --write

v3.0.0: extensions update
  .vscode/extensions.json
  .vscode/vscode.settings.json
  CHANGELOG.md
Due: prettier --write

v3.0.0: git actions update
  .github/workflows/plasttic-ci.yml
Due: none

v3.0.0: package update
  .gitignore
  .vscode/plasttic.code-snippets
  .vscode/vscode.settings.json
  CHANGELOG.md
  package.json
  package/.vscode/plasttic.code-snippets
  package/.vscode/vscode.settings.json
  package/README.md
  package/package.json
  package/src/assets/css/00_reset.css
  package/src/assets/css/30_tokens.css
  package/src/assets/css/70_templates.css
  package/src/assets/img/icons/social/twitter-x.svg
  package/src/assets/js/scripts.ts
  package/src/index.html
  package/src/templates/404.html
  package/src/templates/temporary.html
  package/src/~partytown/debug/partytown-atomics.js
  package/src/~partytown/debug/partytown-media.js
  package/src/~partytown/debug/partytown-sandbox-sw.js
  package/src/~partytown/debug/partytown-sw.js
  package/src/~partytown/debug/partytown-ww-atomics.js
  package/src/~partytown/debug/partytown-ww-sw.js
  package/src/~partytown/debug/partytown.js
  package/src/~partytown/partytown-atomics.js
  package/src/~partytown/partytown-media.js
  package/src/~partytown/partytown-sw.js
  package/src/~partytown/partytown.js
  src/index.html
Due: eslint --fix, prettier --write, stylelint --fix

v3.0.0: gitignore
  .gitignore
Due: none

v3.0.0: cli scripts + css paths
  CHANGELOG.md
  package.json
  src/assets/css/30_tokens.css
Due: prettier --write, stylelint --fix

v3.0.0: dependencies update
  package.json
Due: prettier --write

v3.0.0: dependencies update
  pnpm-lock.yaml
Due: none

v3.0.0: base tag + update paths
  CHANGELOG.md
  src/index.html
Due: prettier --write

v3.0.0: reset 3.0 new properties
  src/assets/css/00_reset.css
Due: prettier --write, stylelint --fix

v3.0.0: added font size
  src/assets/css/30_tokens.css
Due: prettier --write, stylelint --fix

v3.0.0: paths update
  CHANGELOG.md
  src/index.html
Due: prettier --write

v3.0.0: deleted funding file
  .github/FUNDING.yml
Due: none

v3.0.0: todo tree NOTE tag
  .vscode/vscode.settings.json
  CHANGELOG.md
Due: prettier --write

v3.0.0: CLI watch time increased
  CHANGELOG.md
  package.json
Due: prettier --write

v3.0.0: CLI watch time delay increase to 5000ms
  CHANGELOG.md
  package.json
Due: prettier --write

v3.0.0: Stylelint max-nesting-depth increased to 4
  .stylelintrc.json
  CHANGELOG.md
Due: prettier --write

v3.0.0: browser sync not open new window
  CHANGELOG.md
  package.json
Due: prettier --write

v3.0.0: browser sync
  CHANGELOG.md
Due: prettier --write

v3.0.0: added path autocomplete extension and settings
  .vscode/extensions.json
  .vscode/vscode.settings.json
Due: prettier --write

upd/add css classes intellisense extension
  .vscode/extensions.json
Due: prettier --write

upd: update at-rule line before
  .stylelintrc.json
Due: prettier --write

upd: stylelint config at-rule line before
  CHANGELOG.md
Due: prettier --write

upd(docs): add ABEM methodology
  README.md
Due: prettier --write

upd(cli): updated folder depth in del:html + fixed del:img script
  CHANGELOG.md
  package.json
Due: prettier --write

upd(cli): update nested folder depth in dev:copy:html
  package.json
Due: prettier --write

upd(cli): browsersync reload-delay 350ms
  CHANGELOG.md
  package.json
Due: prettier --write

style: linting
  src/assets/css/30_tokens.css
Due: prettier --write, stylelint --fix

upd: font size comment update
  src/assets/css/30_tokens.css
Due: prettier --write, stylelint --fix

upd(workflow): JS-DevTools/npm-publish@v3.1.1
  .github/workflows/plasttic-publish.yml
Due: none

upd: extensions
  .vscode/extensions.json
Due: prettier --write
