Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

v2.2.2: testing
  package/tsconfig.json
  tsconfig.json
Due: prettier --write

v2.2.2: testing
  .eslintignore
  .eslintrc.cjs
  .gitignore
  CHANGELOG.md
  package.json
  package/.##gitignore##
  package/.eslintignore
  package/.eslintrc.cjs
  package/CHANGELOG.md
  package/package.json
  package/playwright.config.ts
  package/tsconfig.json
  playwright.config.ts
  tests-examples/demo-todo-app.spec.ts
  tests/example.spec.ts
  tests/first.test.js
  tsconfig.json
Due: prettier --write, eslint --fix

v2.2.2: testing
  jsconfig.json
  package/jsconfig.json
  package/playwright.config.ts
  playwright.config.ts
  tests/jest/first.test.js
Due: prettier --write, eslint --fix

v2.2.2: testing config
  .vscode/vscode.settings.json
  jest.config.cjs
  jsconfig.json
  package-lock.json
  package.json
  package/.vscode/vscode.settings.json
  package/jest.config.cjs
  package/jsconfig.json
  package/package.json
Due: prettier --write

v2.2.2: update
  .github/workflows/playwright.yml
Due: none

v2.2.2: testing config
  CHANGELOG.md
  package/CHANGELOG.md
  package/playwright.config.ts
  playwright.config.ts
  tests-examples/playwright-workflow.yml
Due: prettier --write, eslint --fix

v2.2.2: testing config
  package.json
  package/package.json
  package/tests/jest/first.test.js
  package/tests/playwright/example.spec.ts
  package/tests/tests-examples/demo-todo-app.spec.ts
  package/tests/tests-examples/playwright-workflow.yml
  package/tsconfig.json
  tests/playwright/example.spec.ts
  tests/tests-examples/demo-todo-app.spec.ts
  tests/tests-examples/playwright-workflow.yml
  tsconfig.json
Due: prettier --write, eslint --fix

v2.3.0: version update
  CHANGELOG.md
  README.md
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.3.0: version update
  package/src/assets/css/print.css
  package/src/assets/css/styles.css
  package/src/assets/js/modules/module.ts
  package/src/assets/js/scripts.ts
  package/src/templates/404.html
  package/src/templates/temporary.html
  src/assets/css/print.css
  src/assets/css/styles.css
  src/assets/js/modules/module.ts
  src/assets/js/scripts.ts
  src/templates/404.html
  src/templates/temporary.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: partytown
  .eslintignore
  .vscode/vscode.settings.json
  CHANGELOG.md
  package-lock.json
  package.json
  package/.eslintignore
  package/.vscode/vscode.settings.json
  package/CHANGELOG.md
  package/package.json
  package/src/~partytown/debug/partytown-atomics.js
  package/src/~partytown/debug/partytown-media.js
  package/src/~partytown/debug/partytown-sandbox-sw.js
  package/src/~partytown/debug/partytown-sw.js
  package/src/~partytown/debug/partytown-ww-atomics.js
  package/src/~partytown/debug/partytown-ww-sw.js
  package/src/~partytown/debug/partytown.js
  package/src/~partytown/partytown-atomics.js
  package/src/~partytown/partytown-media.js
  package/src/~partytown/partytown-sw.js
  package/src/~partytown/partytown.js
  src/~partytown/debug/partytown-atomics.js
  src/~partytown/debug/partytown-media.js
  src/~partytown/debug/partytown-sandbox-sw.js
  src/~partytown/debug/partytown-sw.js
  src/~partytown/debug/partytown-ww-atomics.js
  src/~partytown/debug/partytown-ww-sw.js
  src/~partytown/debug/partytown.js
  src/~partytown/partytown-atomics.js
  src/~partytown/partytown-media.js
  src/~partytown/partytown-sw.js
  src/~partytown/partytown.js
Due: prettier --write, eslint --fix

v2.3.0: partytown
  package.json
  package/package.json
Due: prettier --write

v2.3.0: lighthouse
  CHANGELOG.md
  lighthouse.config.json
  package.json
  package/CHANGELOG.md
  package/lighthouse.config.json
  package/package.json
Due: prettier --write

v2.3.0: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: unlighthouse
  CHANGELOG.md
  package-lock.json
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.3.0: update
  package.json
  package/package.json
  package/tsconfig.json
  tests/tests-examples/demo-todo-app.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

v2.3.0: update
  .stylelintrc.json
  package/.stylelintrc.json
Due: prettier --write

v2.3.0: testing config
  .husky/pre-commit
  package.json
  package/package.json
  package/playwright.config.ts
  package/tests/jest/first.test.js
  package/tests/jest/hooks/_hooks.txt
  package/tests/jest/tests/_tests.txt
  package/tests/jest/tests/first.test.js
  package/tests/playwright/example.spec.ts
  package/tests/playwright/hooks/_hooks.txt
  package/tests/playwright/test/_tests.txt
  package/tests/playwright/test/test.spec.ts
  package/tests/playwright/tests-examples/demo-todo-app.spec.ts
  package/tests/playwright/tests-examples/example.spec.ts
  package/tests/playwright/tests-examples/playwright-workflow.yml
  playwright.config.ts
  tests/jest/hooks/_hooks.txt
  tests/jest/test/_test.txt
  tests/jest/test/first.test.js
  tests/playwright/example.spec.ts
  tests/playwright/hooks/_hooks.txt
  tests/playwright/test/_test.txt
  tests/playwright/test/test.spec.ts
  tests/playwright/tests-examples/demo-todo-app.spec.ts
  tests/playwright/tests-examples/example.spec.ts
  tests/playwright/tests-examples/playwright-workflow.yml
Due: prettier --write, eslint --fix

v2.3.0: testing config
  .eslintrc.cjs
  jest.config.cjs
  package/.eslintrc.cjs
  package/jest.config.cjs
  package/tests/jest/test/_test.txt
  package/tests/jest/test/first.test.js
  package/tests/jest/tests/_tests.txt
  package/tests/jest/tests/first.test.js
  package/tests/playwright/test/_test.txt
  package/tests/playwright/test/_tests.txt
  package/tsconfig.json
  tests/jest/test/_test.txt
  tests/jest/test/first.test.js
  tests/playwright/test/_test.txt
  tests/playwright/test/test.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

v2.3.0: ESLint config update
  .eslintrc.cjs
  .vscode/vscode.settings.json
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  package/.eslintrc.cjs
  package/.vscode/vscode.settings.json
  package/CHANGELOG.md
  package/package.json
  package/src/~partytown/debug/partytown-atomics.js
  package/src/~partytown/debug/partytown-media.js
  package/src/~partytown/debug/partytown-sandbox-sw.js
  package/src/~partytown/debug/partytown-sw.js
  package/src/~partytown/debug/partytown-ww-atomics.js
  package/src/~partytown/debug/partytown-ww-sw.js
  package/src/~partytown/debug/partytown.js
  package/src/~partytown/partytown-atomics.js
  package/src/~partytown/partytown-media.js
  package/src/~partytown/partytown-sw.js
  package/src/~partytown/partytown.js
  src/~partytown/debug/partytown-atomics.js
  src/~partytown/debug/partytown-media.js
  src/~partytown/debug/partytown-sandbox-sw.js
  src/~partytown/debug/partytown-sw.js
  src/~partytown/debug/partytown-ww-atomics.js
  src/~partytown/debug/partytown-ww-sw.js
  src/~partytown/debug/partytown.js
  src/~partytown/partytown-atomics.js
  src/~partytown/partytown-media.js
  src/~partytown/partytown-sw.js
  src/~partytown/partytown.js
Due: prettier --write, eslint --fix

v2.3.0: ESLint error fix
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: Linting update
  README.md
Due: prettier --write

v2.3.0: update
  .eslintrc.cjs
  jest.config.cjs
  package.json
  package/.eslintrc.cjs
  package/jest.config.cjs
  package/package.json
  package/playwright.config.ts
  package/tests/jest/hooks/_hooks.txt
  package/tests/jest/test/_test.txt
  package/tests/playwright/hooks/_hooks.txt
  package/tests/playwright/test/_test.txt
  package/tests/playwright/test/test.spec.ts
  package/tests/playwright/tests-examples/demo-todo-app.spec.ts
  package/tests/playwright/tests-examples/example.spec.ts
  package/tests/playwright/tests-examples/playwright-workflow.yml
  playwright.config.ts
  tests/playwright/tests-examples/example.spec.ts
Due: prettier --write, eslint --fix

v2.3.0: update
  .gitignore
  package/tests/jest/test/first.test.js
  tests/jest/dev/_dev.txt
  tests/jest/test/first.test.js
  tests/playwright/dev/_dev.txt
Due: prettier --write, eslint --fix

v2.3.0: update
  .gitignore
  package/.##gitignore##
  package/tests/jest/dev/_dev.txt
  package/tests/playwright/dev/_dev.txt
Due: none

v2.3.0: testing section
  README.md
Due: prettier --write

v2.3.0: double quotes in html
  .eslintrc.cjs
  package/.eslintrc.cjs
Due: none

v2.3.0: google tag manager
  package/src/index.html
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: update
  .eslintignore
  .eslintrc.cjs
  .gitignore
  lighthouse.config.cjs
  lighthouse.config.json
  package-lock.json
  package.json
  package/.##gitignore##
  package/.eslintignore
  package/.eslintrc.cjs
  package/lighthouse.config.cjs
  package/lighthouse.config.json
  package/package.json
  package/src/assets/js/vendor/debug/partytown-atomics.js
  package/src/assets/js/vendor/debug/partytown-media.js
  package/src/assets/js/vendor/debug/partytown-sandbox-sw.js
  package/src/assets/js/vendor/debug/partytown-sw.js
  package/src/assets/js/vendor/debug/partytown-ww-atomics.js
  package/src/assets/js/vendor/debug/partytown-ww-sw.js
  package/src/assets/js/vendor/debug/partytown.js
  package/src/assets/js/vendor/partytown-atomics.js
  package/src/assets/js/vendor/partytown-media.js
  package/src/assets/js/vendor/partytown-sw.js
  package/src/assets/js/vendor/partytown.js
  package/src/index.html
  src/assets/js/vendor/debug/partytown-atomics.js
  src/assets/js/vendor/debug/partytown-media.js
  src/assets/js/vendor/debug/partytown-sandbox-sw.js
  src/assets/js/vendor/debug/partytown-sw.js
  src/assets/js/vendor/debug/partytown-ww-atomics.js
  src/assets/js/vendor/debug/partytown-ww-sw.js
  src/assets/js/vendor/debug/partytown.js
  src/assets/js/vendor/partytown-atomics.js
  src/assets/js/vendor/partytown-media.js
  src/assets/js/vendor/partytown-sw.js
  src/assets/js/vendor/partytown.js
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: partytown
  .eslintignore
  package.json
  package/.eslintignore
  package/package.json
  package/src/index.html
  package/src/~partytown/debug/partytown-atomics.js
  package/src/~partytown/debug/partytown-media.js
  package/src/~partytown/debug/partytown-sandbox-sw.js
  package/src/~partytown/debug/partytown-sw.js
  package/src/~partytown/debug/partytown-ww-atomics.js
  package/src/~partytown/debug/partytown-ww-sw.js
  package/src/~partytown/debug/partytown.js
  package/src/~partytown/partytown-atomics.js
  package/src/~partytown/partytown-media.js
  package/src/~partytown/partytown-sw.js
  package/src/~partytown/partytown.js
  src/index.html
  src/~partytown/debug/partytown-atomics.js
  src/~partytown/debug/partytown-media.js
  src/~partytown/debug/partytown-sandbox-sw.js
  src/~partytown/debug/partytown-sw.js
  src/~partytown/debug/partytown-ww-atomics.js
  src/~partytown/debug/partytown-ww-sw.js
  src/~partytown/debug/partytown.js
  src/~partytown/partytown-atomics.js
  src/~partytown/partytown-media.js
  src/~partytown/partytown-sw.js
  src/~partytown/partytown.js
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: partytown
  .eslintignore
  package/.eslintignore
Due: none

v2.3.0: boilerplate update
  CHANGELOG.md
  package/CHANGELOG.md
  package/src/index.html
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: updates
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.3.0: updates
  .eslintignore
  .eslintrc.cjs
  .plasttic/js/src/assets/js/modules/module.js
  .plasttic/js/src/assets/js/scripts.js
  .plasttic/js/tests/playwright/test/test.spec.js
  .plasttic/js/ts-no.js
  package/.eslintignore
  package/.eslintrc.cjs
Due: prettier --write, eslint --fix

v2.3.0: eslint html
  .eslintrc.cjs
  package/.eslintrc.cjs
  package/package.json
  package/src/index.html
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: eslint html
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc.json
  README.md
  package.json
  package/.eslintignore
  package/.eslintrc.cjs
  package/.lintstagedrc.json
  package/package.json
  package/src/index.html
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.3.0: updated dependencies
  package-lock.json
  package.json
  package/package.json
Due: prettier --write

v2.3.0: updated dependencies
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: (((((any of: *.ts) or (any of: *.js)) or (any of: *.html)) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)
  eslint --fix: ((any of: *.ts) or (any of: *.js)) or (any of: *.html)
  stylelint --fix: (any of: *.html) or (any of: *.css)
