Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.js": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.html": "prettier --write",
  "*.md": "prettier --write",
  "*.json": "prettier --write"
}

v3.0.0: testing config
  .gitignore
  jest.config.ts
  package.json
  package/jest.config.ts
  package/package.json
  package/tsconfig.json
  tests/jest/reports/clover.xml
  tests/jest/reports/coverage-final.json
  tests/jest/reports/lcov-report/base.css
  tests/jest/reports/lcov-report/block-navigation.js
  tests/jest/reports/lcov-report/favicon.png
  tests/jest/reports/lcov-report/index.html
  tests/jest/reports/lcov-report/prettify.css
  tests/jest/reports/lcov-report/prettify.js
  tests/jest/reports/lcov-report/sort-arrow-sprite.png
  tests/jest/reports/lcov-report/sorter.js
  tests/jest/reports/lcov.info
  tests/jest/test/first.test.ts
  tests/jest/test/first.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

v3.0.0: testing config
  package/tsconfig.json
  tsconfig.json
Due: prettier --write

v3.0.0: testing config
  README.md
  package/.##gitignore##
  package/tests/jest/test/_test.txt
  package/tests/playwright/test/_test.txt
  tests/jest/test/_test.txt
  tests/playwright/test/_test.txt
Due: prettier --write

v3.0.0: testing config
  jest.config.ts
  package/jest.config.ts
  package/tsconfig.json
  tests/jest/test/example.test.ts
  tests/jest/test/example.ts
  tests/jest/test/first.test.ts
  tests/jest/test/first.ts
  tsconfig.json
Due: eslint --fix, prettier --write

v3.0.0: testing config
  jest.config.ts
  package/jest.config.ts
Due: eslint --fix

v3.0.0: testing config
  jest.config.ts
  package/jest.config.ts
  package/tests/jest/test/example.test.ts
  package/tests/jest/test/example.ts
  package/tests/jest/test/first.test.js
  package/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write

v3.0.0: testing config
  .husky/pre-commit
  README.md
  jest.build.config.ts
  package.json
  package/.husky/pre-commit
  package/jest.build.config.ts
  package/jest.config.ts
  package/package.json
  package/tests/jest/build/_build.txt
  package/tests/jest/dev/_dev.txt
  package/tests/jest/dev/example.test.ts
  package/tests/jest/dev/example.ts
  package/tests/jest/hooks/_hooks.txt
  package/tests/jest/test/_test.txt
  package/tests/playwright/build/_build.txt
  package/tests/playwright/dev/_dev.txt
  package/tests/playwright/dev/_test.txt
  package/tests/playwright/dev/test.spec.ts
  package/tests/playwright/hooks/_hooks.txt
  tests/jest/build/_build.txt
  tests/jest/build/example.test.ts
  tests/jest/build/example.ts
  tests/jest/dev/_dev.txt
  tests/jest/hooks/_hooks.txt
  tests/jest/test/_test.txt
  tests/playwright/build/_build.txt
  tests/playwright/dev/_dev.txt
  tests/playwright/dev/_test.txt
  tests/playwright/dev/test.spec.ts
  tests/playwright/hooks/_hooks.txt
Due: eslint --fix, prettier --write

v3.0.0: testing config
  tests/jest/dev/example.test.ts
  tests/jest/dev/example.ts
Due: eslint --fix

v3.0.0: testing config
  README.md
Due: prettier --write

v3.0.0: develop branch update
  .github/renovate.json
  package/tests/jest/reports/_reports.txt
  tests/jest/reports/_reports.txt
  tests/jest/reports/clover.xml
  tests/jest/reports/coverage-final.json
  tests/jest/reports/lcov-report/base.css
  tests/jest/reports/lcov-report/block-navigation.js
  tests/jest/reports/lcov-report/example.ts.html
  tests/jest/reports/lcov-report/favicon.png
  tests/jest/reports/lcov-report/index.html
  tests/jest/reports/lcov-report/prettify.css
  tests/jest/reports/lcov-report/prettify.js
  tests/jest/reports/lcov-report/sort-arrow-sprite.png
  tests/jest/reports/lcov-report/sorter.js
  tests/jest/reports/lcov.info
Due: eslint --fix, prettier --write, stylelint --fix

v3.0.0: title and description update
  package/src/index.html
  src/index.html
  tests/jest/reports/clover.xml
  tests/jest/reports/lcov-report/index.html
Due: prettier --write

v3.0.0: renovate config update/#693
  .github/renovate.json
  tests/jest/reports/clover.xml
  tests/jest/reports/lcov-report/index.html
Due: prettier --write

v3.0.0: renovate config update/#693
  .github/renovate.json
Due: prettier --write

Update renovate.json
  .github/renovate.json
Due: prettier --write

v3.0.0: jest config update/#619
  jest.build.config.ts
  jest.config.ts
  package/jest.build.config.ts
  package/jest.config.ts
  tests/jest/reports/lcov-report/index.html
Due: eslint --fix, prettier --write

v3.0.0: gitignore update
  .gitignore
  tests/jest/reports/_reports.txt
  tests/jest/reports/clover.xml
  tests/jest/reports/lcov-report/index.html
  tests/jest/reports/lcov.info
Due: prettier --write

v3.0.0: gitignore update
  .gitignore
  tests/jest/reports/coverage-final.json
  tests/jest/reports/lcov-report/base.css
  tests/jest/reports/lcov-report/block-navigation.js
  tests/jest/reports/lcov-report/example.ts.html
  tests/jest/reports/lcov-report/favicon.png
  tests/jest/reports/lcov-report/index.html
  tests/jest/reports/lcov-report/prettify.css
  tests/jest/reports/lcov-report/prettify.js
  tests/jest/reports/lcov-report/sort-arrow-sprite.png
  tests/jest/reports/lcov-report/sorter.js
Due: eslint --fix, prettier --write, stylelint --fix

v3.0.0: tests folders update/#619
  .gitignore
  package/tests/lighthouse/reports/_reports.txt
  package/tests/playwright/dev/_test.txt
  package/tests/playwright/reports/_reports.txt
  tests/playwright/dev/_test.txt
  tests/playwright/tests-examples/demo-todo-app.spec.ts
  tests/playwright/tests-examples/example.spec.ts
Due: eslint --fix

v3.0.0: tests gitignore/#619
  .gitignore
  .unlighthouse/_unlighthouse.txt
  package/.unlighthouse/_unlighthouse.txt
  package/tests/playwright/dev/_dev.txt
  tests/jest/reports/_reports.txt
  tests/lighthouse/reports/_reports.txt
  tests/playwright/dev/_dev.txt
Due: none

v3.0.0: renovate update/#693
  .github/renovate.json
Due: prettier --write

v3.0.0: remove download badge/#649
  README.md
Due: prettier --write

update renovate.json
  .github/renovate.json
Due: prettier --write

v3.0.0: about update/#649
  README.md
Due: prettier --write

v3.0.0: renovate testing/#693
  .github/renovate.json
  .husky/pre-commit
Due: prettier --write
