Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.js": "eslint --fix",
  "*.css": "stylelint --fix",
  "*.html": "prettier --write",
  "*.md": "prettier --write",
  "*.json": "prettier --write"
}

v3.0.0: lint optimize
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  package/.lintstagedrc.json
  package/package.json
Due: prettier --write

v3.0.0: linting optimize
  CHANGELOG.md
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v3.0.0: linting optimize
  .husky/pre-commit
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/vscode.settings.json
  CHANGELOG.md
  package/.lintstagedrc.json
  package/.stylelintrc.json
  package/.vscode/vscode.settings.json
  package/CHANGELOG.md
Due: prettier --write

v3.0.0: linting optimize
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  package/.lintstagedrc.json
  package/package.json
Due: prettier --write

v3.0.0: linting optimize
  .lintstagedrc.json
  .vscode/vscode.settings.json
  README.md
  package/.lintstagedrc.json
  package/.vscode/vscode.settings.json
Due: prettier --write

v3.0.0: linting optimize
  .husky/pre-commit
  .vscode/vscode.settings.json
  package/.vscode/vscode.settings.json
Due: prettier --write

v3.0.0: linting optimize
  package/.husky/pre-commit
Due: none

v3.0.0: linting optimize
  .vscode/vscode.settings.json
  package/.vscode/vscode.settings.json
  package/src/assets/css/20_components.css
  src/assets/css/20_components.css
Due: stylelint --fix, prettier --write

v3.0.0: linting optimize
  .lintstagedrc.json
  package/.lintstagedrc.json
  package/src/assets/css/20_components.css
  src/assets/css/20_components.css
Due: stylelint --fix, prettier --write

v3.0.0: linting optimize
  .stylelintrc.json
  .vscode/vscode.settings.json
  package-lock.json
  package.json
  package/.stylelintrc.json
  package/.vscode/vscode.settings.json
  package/package.json
  package/src/assets/css/20_components.css
  src/assets/css/20_components.css
Due: stylelint --fix, prettier --write

v3.0.0: linting optimize
  .lintstagedrc.json
  package/.lintstagedrc.json
Due: prettier --write

v3.0.0: linting optimize
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v3.0.0: linting optimize
  .vscode/vscode.settings.json
  package.json
  package/.vscode/vscode.settings.json
  package/package.json
  tests/playwright/tests-examples/demo-todo-app.spec.ts
  tests/playwright/tests-examples/example.spec.ts
Due: eslint --fix, prettier --write

v3.0.0: linting optimize
  .eslintignore
  package.json
  package/.eslintignore
  package/package.json
Due: prettier --write

v3.0.0: linting optimize
  package.json
  package/package.json
Due: prettier --write

v3.0.0: linting
  README.md
Due: prettier --write

v3.0.0: linting optimize
  .eslintrc.cjs
  package-lock.json
  package.json
  package/.eslintrc.cjs
  package/package.json
Due: prettier --write

v3.0.0: linting optimize
  README.md
Due: prettier --write

v3.0.0: clean dependencies
  package-lock.json
  package.json
  package/package.json
Due: prettier --write

v3.0.0: clean dependencies
  .dev.configs/postcss.config.cjs
  package-lock.json
  package.json
  package/.dev.configs/postcss.config.cjs
  package/package.json
  package/postcss.config.cjs
  postcss.config.cjs
Due: prettier --write

v3.0.0: Node ESLint Typescript
  .eslintrc.cjs
  CHANGELOG.md
  package-lock.json
  package.json
  package/.eslintrc.cjs
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v3.0.0: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v3.0.0: update
  CHANGELOG.md
  package-lock.json
  package.json
  package/CHANGELOG.md
  package/package.json
  package/tsconfig.json
  tsconfig.json
Due: prettier --write

v3.0.0: fixed undefined
  package/src/assets/js/modules/module.ts
  src/assets/js/modules/module.ts
Due: eslint --fix

v3.0.0: update
  README.md
  package-lock.json
  package.json
  package/package.json
Due: prettier --write

v3.0.0: jest config
  .eslintignore
  README.md
  jest.config.cjs
  jest.config.ts
  package-lock.json
  package.json
  package/.eslintignore
  package/jest.config.cjs
  package/jest.config.ts
  package/package.json
Due: eslint --fix, prettier --write

v3.0.0: testing config
  .eslintignore
  package/.eslintignore
Due: none

v3.0.0: testing config
  .eslintignore
  jest.config.ts
  package/.eslintignore
  package/jest.config.ts
Due: eslint --fix

v3.0.0: pnpm
  package-lock.json
  package/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

v3.0.0: testing config
  jest.config.ts
  package/jest.config.ts
  tests/jest/reports/clover.xml
  tests/jest/reports/coverage-final.json
  tests/jest/reports/lcov-report/base.css
  tests/jest/reports/lcov-report/block-navigation.js
  tests/jest/reports/lcov-report/favicon.png
  tests/jest/reports/lcov-report/index.html
  tests/jest/reports/lcov-report/prettify.css
  tests/jest/reports/lcov-report/prettify.js
  tests/jest/reports/lcov-report/sort-arrow-sprite.png
  tests/jest/reports/lcov-report/sorter.js
  tests/jest/reports/lcov.info
Due: eslint --fix, stylelint --fix, prettier --write

v3.0.0: update
  docs/css-order.json
  tests/jest/reports/clover.xml
  tests/jest/reports/lcov-report/index.html
Due: prettier --write

v3.0.0: testing config
  .vscode/launch.json
  README.md
  package.json
  package/.vscode/launch.json
  package/package.json
  package/pnpm-lock.yaml
  pnpm-lock.yaml
  tests/jest/reports/clover.xml
  tests/jest/reports/lcov-report/index.html
Due: prettier --write
