Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

v3.0.0: renovate config update/#693
  .github/renovate.json
  package-lock.json
Due: prettier --write

v3.0.0: renovate config update/#693
  .github/renovate.json
Due: prettier --write

v3.0.0: dependabot config/#693
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-merge.yml
Due: prettier --write

[PlastticBot] CI
  package/package.json
Due: prettier --write

v3.0.0: npm and actions update
  .github/workflows/plasttic-ci.yml
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

v3.0.0: signed action
  .github/workflows/plasttic-ci.yml
Due: none

v3.0.0: dependabot config
  .github/dependabot.yml
Due: none

v3.0.0: dependabot config
  .github/workflows/plasttic-ci.yml
Due: none

v3.0.0: dependabot config/#775
  .github/workflows/plasttic-ci.yml
Due: none

v3.0.0: dependencies update
  pnpm-lock.yaml
Due: none

v3.0.0: ci update/#196
  .github/workflows/plasttic-ci.yml
Due: none

v3.0.0: dependabot/#775
  .github/workflows/auto-merge.yml
  .github/workflows/dependabot-merge.yml
Due: none

v3.0.0: dependabot auto-merge/#775
  .github/workflows/auto-merge.yml
Due: none

v3.0.0: dependabot config/#775
  .github/dependabot.yml
Due: none

[PlastticBot] CI
  package/README.md
Due: prettier --write

v3.0.0: dependabot config fix/#775
  .github/dependabot.yml
Due: none

v3.0.0: CI config test/#196
  .github/workflows/plasttic-ci.yml
Due: none

v3.0.0: Dependabot auto-merge config update/#775
  .github/workflows/auto-merge.yml
Due: none

v3.0.0: dependabot config update/#775
  .github/dependabot.yml
Due: none

v3.0.0: updates + dependabot
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  pnpm-lock.yaml
  src/assets/css/00_reset.css
  src/assets/css/30_tokens.css
  src/assets/css/70_templates.css
  src/assets/img/icons/social/twitter-x.svg
  src/assets/js/scripts.ts
  src/index.html
  src/templates/404.html
  src/templates/temporary.html
Due: eslint --fix, prettier --write, stylelint --fix

v3.0.0: dependabot merge
  .github/workflows/plasttic-dependabot-merge.yml.yml
Due: none

v3.0.0: dependabot merge update
  .github/workflows/plasttic-dependabot-merge.yml.yml
  CHANGELOG.md
Due: prettier --write

Update auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none

v3.0.0: dependencies update
  .github/workflows/plasttic-ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

v3.0.0: dependabot update
  .github/workflows/plasttic-dependabot-merge.yml.yml
Due: none

v3.0.0: dependencies update
  package.json
  pnpm-lock.yaml
Due: prettier --write

v3.0.0: dependabot
  .github/dependabot.yml
Due: none

v3.0.0: develop merge
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/plasttic-ci.yml
  .github/workflows/plasttic-dependabot-merge.yml.yml
  .github/workflows/plasttic-publish.yml
  .husky/pre-commit
  CHANGELOG.md
  docs/css-order.json
  docs/css.md
  jest.ci.config.ts
  package.json
  package/.##gitignore##
  package/.github/renovate.json
  package/.github/workflows/plasttic-ci.yml
  package/.husky/pre-commit
  package/CHANGELOG.md
  package/README.md
  package/jest.ci.config.ts
  package/package.json
  package/tests/jest/build/_build.txt
  package/tests/jest/ci/_ci.txt
  package/tests/playwright/build/_build.txt
  package/tests/playwright/ci/_ci.txt
  pnpm-lock.yaml
  src/assets/css/00_reset.css
  src/assets/css/30_tokens.css
  src/assets/css/70_templates.css
  src/assets/img/icons/social/twitter-x.svg
  src/assets/js/scripts.ts
  src/index.html
  src/templates/404.html
  src/templates/temporary.html
  tests/jest/build/_build.txt
  tests/jest/ci/_ci.txt
  tests/playwright/build/_build.txt
  tests/playwright/ci/_ci.txt
Due: eslint --fix, prettier --write, stylelint --fix

v3.0.x: description/#issue_id
  .husky/pre-commit
Due: none

v3.0.0: commit test/#619
  .husky/pre-commit
Due: none

v3.0.0: dependencies update
  .github/dependabot.yml
  .github/workflows/plasttic-publish.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

v3.0.0: version update
  package.json
Due: prettier --write

v3.0.0: dependabot update
  .github/dependabot.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: (((any of: *.css) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
  stylelint --fix: any of: *.css
