Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

v2.1.10: update
  package/package.json
  package/test-output.css
  test-output.css
Due: prettier --write, stylelint --fix

v2.1.10: update
  .dev.configs/postcss.config.cjs
  .stylelintrc.json
  CHANGELOG.md
  package/.stylelintrc.json
  package/CHANGELOG.md
  package/postcss.config.cjs
  package/src/assets/css/print.css
  postcss.config.cjs
  src/assets/css/print.css
Due: prettier --write, stylelint --fix

v2.1.10: css linting
  .stylelintrc.json
  package.json
  package/.stylelintrc.json
  package/package.json
  package/postcss.config.cjs
  package/src/assets/css/20_components.css
  package/src/assets/css/30_tokens.css
  package/src/assets/css/40_atoms.css
  package/src/assets/css/70_templates.css
  package/src/assets/css/80_pages.css
  package/src/assets/css/print.css
  postcss.config.cjs
  src/assets/css/20_components.css
  src/assets/css/30_tokens.css
  src/assets/css/40_atoms.css
  src/assets/css/70_templates.css
  src/assets/css/80_pages.css
  src/assets/css/print.css
Due: prettier --write, stylelint --fix

v2.1.10: update
  .gitignore
  package.json
  package/package.json
Due: prettier --write

v2.1.10: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.1.10: update
  package-lock.json
  package.json
  package/package.json
Due: prettier --write

v2.1.10: update scripts
  package.json
  package/package.json
Due: prettier --write

v2.1.10: update
  .stylelintrc.json
  CHANGELOG.md
  docs/css-order.json
  docs/css.md
  package/.stylelintrc.json
  package/CHANGELOG.md
Due: prettier --write

v2.1.10: update
  docs/css-order.json
Due: prettier --write

v2.1.10: update
  docs/css-order.json
  docs/css.md
Due: prettier --write

v2.1.10: update
  README.md
Due: prettier --write

v2.1.10: do not delete comment
  package.json
  package/package.json
  package/src/assets/css/print.css
  package/src/assets/css/styles.css
  package/src/assets/js/modules/module.ts
  package/src/assets/js/scripts.ts
  package/ts-no.ts
  package/tsconfig.json
  src/assets/css/print.css
  src/assets/css/styles.css
  src/assets/js/modules/module.ts
  src/assets/js/scripts.ts
  ts-no.ts
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix

v2.1.10: css order
  .stylelintrc.json
  docs/css-order.json
  docs/css.md
  package/.stylelintrc.json
Due: prettier --write

v2.1.10: css order
  .stylelintrc.json
  CHANGELOG.md
  package/.stylelintrc.json
  package/CHANGELOG.md
  package/src/assets/css/30_tokens.css
  package/src/assets/css/40_atoms.css
  package/src/assets/css/70_templates.css
  package/src/assets/css/80_pages.css
  package/src/assets/css/print.css
  src/assets/css/30_tokens.css
  src/assets/css/40_atoms.css
  src/assets/css/70_templates.css
  src/assets/css/80_pages.css
  src/assets/css/print.css
Due: prettier --write, stylelint --fix

v2.1.10: update
  docs/performance.md
Due: prettier --write

v2.2.0: version update
  CHANGELOG.md
  README.md
  package.json
  package/CHANGELOG.md
  package/package.json
  package/src/assets/css/print.css
  package/src/assets/css/styles.css
  package/src/assets/js/modules/module.ts
  package/src/assets/js/scripts.ts
  package/src/templates/404.html
  package/src/templates/temporary.html
  src/assets/css/print.css
  src/assets/css/styles.css
  src/assets/js/modules/module.ts
  src/assets/js/scripts.ts
  src/templates/404.html
  src/templates/temporary.html
Due: prettier --write, eslint --fix, stylelint --fix

v2.2.0: version update
  .eslintrc.cjs
  package/.eslintrc.cjs
  package/tsconfig.json
  tsconfig.json
Due: prettier --write

v2.1.1: version update
  CHANGELOG.md
  package.json
  package/CHANGELOG.md
  package/package.json
  package/postcss.config.cjs
  postcss.config.cjs
Due: prettier --write

v2.2.1: update
  package-lock.json
  package.json
  package/package.json
  package/postcss.config.cjs
  postcss.config.cjs
Due: prettier --write

v2.2.1: update
  package/postcss.config.cjs
  postcss.config.cjs
Due: none

v2.2.1: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.2.1: fixed hook
  package/.husky/pre-commit
Due: none

v2.2.1: start steps fix
  CHANGELOG.md
  README.md
  package.json
  package/.husky/pre-commit
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.2.1: update
  .husky/pre-commit
  CHANGELOG.md
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.2.2: version update
  CHANGELOG.md
  package.json
  package/CHANGELOG.md
  package/package.json
Due: prettier --write

v2.2.2: purgecss
  CHANGELOG.md
  package-lock.json
  package.json
  package/CHANGELOG.md
  package/package.json
  package/postcss.config.cjs
  postcss.config.cjs
Due: prettier --write

v2.2.2: update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.2.2: update
  README.md
Due: prettier --write

v2.2.2: stylelint update
  .stylelintrc.json
  .vscode/vscode.settings.json
  package-lock.json
  package.json
  package/.stylelintrc.json
  package/.vscode/vscode.settings.json
  package/package.json
Due: prettier --write

v2.2.2: linting update
  CHANGELOG.md
  package/CHANGELOG.md
Due: prettier --write

v2.2.2: update
  .stylelintrc.json
  .vscode/.prettierrc
  package/.stylelintrc.json
  package/.vscode/.prettierrc
  package/src/assets/css/10_utility.css
  package/src/assets/css/20_components.css
  package/src/assets/css/30_tokens.css
  package/src/assets/css/40_atoms.css
  package/src/assets/css/50_molecules.css
  package/src/assets/css/60_organisms.css
  package/src/assets/css/70_templates.css
  src/assets/css/10_utility.css
  src/assets/css/20_components.css
  src/assets/css/30_tokens.css
  src/assets/css/40_atoms.css
  src/assets/css/50_molecules.css
  src/assets/css/60_organisms.css
  src/assets/css/70_templates.css
Due: prettier --write, stylelint --fix

v2.2.2: update
  .github/workflows/dependabot-merge.yml
  .stylelintrc.json
  package/.stylelintrc.json
  package/src/assets/css/20_components.css
  package/src/assets/css/30_tokens.css
  package/src/assets/css/40_atoms.css
  package/src/assets/css/70_templates.css
  package/src/assets/css/80_pages.css
  src/assets/css/20_components.css
  src/assets/css/30_tokens.css
  src/assets/css/40_atoms.css
  src/assets/css/70_templates.css
  src/assets/css/80_pages.css
Due: prettier --write, stylelint --fix

v2.2.2: update
  .stylelintrc.json
  package/.stylelintrc.json
  package/src/assets/css/30_tokens.css
  package/src/assets/css/print.css
  package/src/assets/css/styles.css
  src/assets/css/30_tokens.css
  src/assets/css/print.css
  src/assets/css/styles.css
Due: prettier --write, stylelint --fix

v2.2.2: update
  package/src/assets/css/30_tokens.css
  src/assets/css/30_tokens.css
Due: prettier --write, stylelint --fix

v2.2.2: update
  .vscode/extensions.json
  docs/atomic-design.md
  package/.vscode/extensions.json
Due: prettier --write

v2.2.2: jest/playwright
  .eslintignore
  .eslintrc.cjs
  .github/workflows/playwright.yml
  .gitignore
  CHANGELOG.md
  jsconfig.json
  package-lock.json
  package.json
  package/.eslintignore
  package/.eslintrc.cjs
  package/CHANGELOG.md
  package/jsconfig.json
  package/package.json
  package/playwright.config.ts
  package/tsconfig.json
  playwright.config.ts
  tsconfig.json
Due: prettier --write, eslint --fix

v2.2.2: testing
  .eslintrc.cjs
  .vscode/extensions.json
  CHANGELOG.md
  package/.eslintrc.cjs
  package/.vscode/extensions.json
  package/CHANGELOG.md
  package/tsconfig.json
  tsconfig.json
Due: prettier --write

Path conditions:
  prettier --write: (((((any of: *.ts) or (any of: *.js)) or (any of: *.html)) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)
  eslint --fix: ((any of: *.ts) or (any of: *.js)) or (any of: *.html)
  stylelint --fix: (any of: *.html) or (any of: *.css)
