Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.js": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.html": "prettier --write",
  "*.md": "prettier --write",
  "*.json": "prettier --write"
}

v3.0.0: extensions update
  .vscode/extensions.json
  .vscode/vscode.settings.json
  CHANGELOG.md
Due: prettier --write

v3.0.0: extensions update
  .vscode/extensions.json
Due: prettier --write

upd: extensions
  .vscode/extensions.json
Due: prettier --write

upd: css linting in VS Code updated
  .vscode/vscode.settings.json
  CHANGELOG.md
Due: prettier --write

fix(deps): pnpm reinstall
  pnpm-lock.yaml
Due: none

upd(deps): dependencies update
  pnpm-lock.yaml
Due: none

upd: workflow actions update
  .github/workflows/plasttic-ci.yml
Due: none

upd: node engine increase to >=20
  CHANGELOG.md
  package.json
Due: prettier --write

upd(CLI)!: start script installs latest typescript version
  CHANGELOG.md
  package.json
Due: prettier --write

upd(deps)!: typescript version 5.3.3
  package.json
Due: prettier --write

upd(CLI)!: typescript version updated to 5.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

upd: node engine updated to 18 or higher
  package.json
Due: prettier --write

upd: node engine updated to 18 or higher
  CHANGELOG.md
Due: prettier --write

upd(node)!: node engine updated to version 20 or higher
  CHANGELOG.md
  package.json
Due: prettier --write

upd: reversed node engine to version 18+
  CHANGELOG.md
  package.json
Due: prettier --write

upd(deps)!: dependencies updates + typescript update to 5.4.5
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

test(CI)
  CHANGELOG.md
Due: prettier --write

upd(deps)!: typescript 5.4.5
  CHANGELOG.md
Due: prettier --write

upd(TS)!: removed script
  src/assets/js/modules/module.ts
Due: eslint --fix

upd: fetch-metadata v2
  .github/workflows/plasttic-dependabot-merge.yml.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

upd: jest config
  pnpm-lock.yaml
Due: none

upd: jest config
  .vscode/vscode.settings.json
Due: prettier --write

upd: jest config
  CHANGELOG.md
Due: prettier --write

upd(dependabot)!: remove dependabot actions
  .github/dependabot.yml
  .github/workflows/plasttic-dependabot-merge.yml.yml
Due: none

upd(dependabot)!: remove dependabot actions
  CHANGELOG.md
Due: prettier --write
