Repository tojeiro-me/Plasttic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

v3.0.0: husky testing/#709
  .husky/pre-commit
  tests/jest/reports/lcov-report/index.html
Due: prettier --write

v3.0.0: husky testing/#709
  .husky/pre-commit
Due: none

v3.0.0: husky testing/#709
  tests/jest/reports/lcov-report/index.html
Due: prettier --write

feat: jest and husky configs update/#619 (#731)
  .husky/pre-commit
  jest.build.config.ts
  jest.config.ts
  package/jest.build.config.ts
  package/jest.config.ts
Due: eslint --fix

v3.0.0: renovate config/#693
  .github/renovate.json
Due: prettier --write

upd(renovate): config update/#693 (#732)
  .github/renovate.json
Due: prettier --write

v3.0.0: renovate update/#693
  .github/renovate.json
Due: prettier --write

Update renovate.json
  .github/renovate.json
Due: prettier --write

v3.0.0: renovate config update/#693
  .github/renovate.json
Due: prettier --write

v3.0.0: pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

merge develop (#737)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

upd(renovate): config update/#693 (#739)
  .github/renovate.json
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(deps): lock file maintenance (#741)
  pnpm-lock.yaml
Due: none

update renovate.json
  .github/renovate.json
Due: prettier --write

Merge 'origin/main' into develop
  .github/PULL_REQUEST_TEMPLATE.md
  .github/renovate.json
Due: prettier --write

v3.0.0: css sorting/#649
  README.md
  docs/css-order.json
  docs/css.md
Due: prettier --write

v3.0.0: package gitignore update
  CHANGELOG.md
  package/.##gitignore##
Due: prettier --write

v3.0.0: partytown:libs update/#746
  package.json
Due: prettier --write

v3.0.0: updated tests folders/#196
  CHANGELOG.md
  README.md
  jest.ci.config.ts
  package.json
  package/tests/jest/build/_build.txt
  package/tests/jest/ci/_ci.txt
  package/tests/playwright/build/_build.txt
  package/tests/playwright/ci/_ci.txt
  tests/jest/build/_build.txt
  tests/jest/ci/_ci.txt
  tests/playwright/build/_build.txt
  tests/playwright/ci/_ci.txt
Due: eslint --fix, prettier --write

v3.0.0: updated tests CLI/#196
  .husky/pre-commit
  CHANGELOG.md
  package.json
Due: prettier --write

v3.0.0: removed testing from husky/#196
  .husky/pre-commit
  CHANGELOG.md
  package/.husky/pre-commit
Due: prettier --write

v3.0.0: updated CLI scripts/#196
  package.json
  package/CHANGELOG.md
  package/jest.ci.config.ts
  package/package.json
Due: eslint --fix, prettier --write

v3.0.0: CI github action/#196
  .github/workflows/plasttic-ci.yml
  CHANGELOG.md
  package.json
  package/.github/renovate.json
  package/.github/workflows/plasttic-ci.yml
  package/package.json
Due: prettier --write

v3.0.0: ci workflow update/##196
  .github/workflows/plasttic-ci.yml
  CHANGELOG.md
  package/.github/workflows/plasttic-ci.yml
Due: prettier --write

v3.0.0: ci workflow update/#196
  .github/workflows/plasttic-ci.yml
  package/.github/workflows/plasttic-ci.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: (((any of: *.css) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
  stylelint --fix: any of: *.css
